In [8]:
from ufunctions import *

In [9]:
dfQuote = GetQuote(ticker='SAVE', start='2018-01-01')

[*********************100%***********************]  1 of 1 downloaded

In [10]:
# dfQuote

             Open   High    Low  Close  Adj Close   Volume
Date
2018-01-02  44.70  45.61  44.09  45.60      45.60   899200
2018-01-03  45.54  45.54  43.47  44.14      44.14  1413800
2018-01-04  43.94  44.25  43.33  43.50      43.50  1823600
2018-01-05  43.75  43.89  43.45  43.63      43.63   680700
2018-01-08  43.75  43.75  42.89  43.23      43.23  1059900
2018-01-09  45.19  45.19  43.36  43.59      43.59  1745600
2018-01-10  44.07  44.93  43.66  44.91      44.91  1461400
2018-01-11  45.83  48.02  45.54  47.57      47.57  2478700
2018-01-12  47.70  48.81  47.25  48.26      48.26  1346700
2018-01-16  47.90  47.95  45.65  46.21      46.21  2938200
2018-01-17  47.27  47.34  44.88  44.89      44.89  2384000
2018-01-18  45.32  45.61  44.76  44.96      44.96   842200
2018-01-19  45.07  45.55  44.79  45.19      45.19   964600
2018-01-22  45.14  45.29  42.81  43.33      43.33  2140500
2018-01-23  43.27  44.67  42.50  44.59      44.59  1902600
2018-01-24  41.70  42.86  40.76  41.53      41.53  3892400
2018-01-25  41.39  41.62  39.53  40.18      40.18  1956500
2018-01-26  40.57  41.49  40.14  41.48      41.48  1506200
2018-01-29  41.49  41.74  41.16  41.42      41.42   878200
2018-01-30  41.31  42.11  40.85  41.83      41.83  1048800
2018-01-31  42.11  42.66  41.97  42.12      42.12  1077400
2018-02-01  41.89  42.40  41.61  42.02      42.02   764600
2018-02-02  42.15  42.29  40.79  41.07      41.07   888100
2018-02-05  40.67  41.44  39.72  39.88      39.88  1386900
2018-02-06  40.06  40.76  38.80  40.42      40.42  1893900
2018-02-07  41.18  41.99  40.21  40.30      40.30  1800600
2018-02-08  40.25  40.47  39.00  39.06      39.06  1508000
2018-02-09  39.42  39.60  37.80  39.25      39.25  1335000
2018-02-12  39.52  40.30  38.89  39.91      39.91  1619400
2018-02-13  39.84  39.92  38.49  39.09      39.09  2428000
...           ...    ...    ...    ...        ...      ...
2021-03-10  37.04  37.83  36.03  36.45      36.45  4199600
2021-03-11  37.05  37.35  36.16  36.51      36.51  3953500
2021-03-12  36.63  39.46  36.55  38.62      38.62  8587600
2021-03-15  40.01  40.51  38.91  39.31      39.31  6261200
2021-03-16  39.01  39.24  37.57  38.03      38.03  3429600
2021-03-17  37.72  39.74  37.48  39.74      39.74  3420900
2021-03-18  39.10  40.77  38.52  38.64      38.64  4356400
2021-03-19  38.64  39.85  37.74  39.73      39.73  4281800
2021-03-22  39.18  39.34  37.30  37.40      37.40  5433200
2021-03-23  36.90  37.55  35.53  35.73      35.73  3982300
2021-03-24  36.97  37.38  34.72  34.73      34.73  3832100
2021-03-25  33.58  37.31  33.25  36.87      36.87  5805500
2021-03-26  37.47  37.80  36.09  36.99      36.99  3366900
2021-03-29  37.18  37.23  35.65  36.47      36.47  3066700
2021-03-30  36.70  37.92  36.63  37.62      37.62  3151500
2021-03-31  37.37  37.61  36.53  36.90      36.90  3174900
2021-04-01  36.51  37.64  36.51  37.36      37.36  2302000
2021-04-05  38.06  38.90  37.38  37.49      37.49  3117800
2021-04-06  37.70  38.80  37.59  38.29      38.29  3172700
2021-04-07  38.41  39.19  37.36  37.53      37.53  2614900
2021-04-08  37.25  37.67  36.38  37.67      37.67  2342100
2021-04-09  37.28  37.86  36.83  37.23      37.23  1975800
2021-04-12  36.81  36.90  35.66  36.01      36.01  3466100
2021-04-13  35.51  37.13  34.40  37.04      37.04  5444400
2021-04-14  37.83  38.75  36.90  37.28      37.28  3883300
2021-04-15  38.00  38.00  36.73  37.16      37.16  2450300
2021-04-16  37.43  38.00  36.77  36.85      36.85  2234200
2021-04-19  36.85  36.86  35.82  36.12      36.12  3131600
2021-04-20  35.54  35.61  33.76  34.67      34.67  4861900
2021-04-21  34.08  36.17  33.71  36.02      36.02  4152800

[831 rows x 6 columns]