In [1]:
import OpenBlender
import pandas as pd
import numpy as np
import json

In [2]:
# Specify the action
action = 'API_getObservationsFromDataset'
token = '1AKnDhP09wa2yGRia5z1SGTxAUQAiV'
interval = 60 * 60 * 24 # One day

In [3]:
parameters = { 
 'token' : token,
    'id_dataset':'5d4c39d09516290b01c8307b',
    'date_filter':{"start_date":"2020-01-01T06:00:00.000Z",
                   "end_date":"2020-02-09T06:00:00.000Z"},
    'aggregate_in_time_interval' : {
              'time_interval_size' : interval, 
              'output' : 'avg', 
              'empty_intervals' : 'impute'
      }
}

In [3]:
import pandas as pd
import numpy as np
import datetime

df = pd.DataFrame()
df['year'] = np.arange(2000,2010)
df['month'] = 3

df['mydate'] = pd.to_datetime(  (df.year * 10000 + df.month * 100 +1).apply(str), format='%Y%m%d')
df['month shift'] = np.arange(0,10)

In [4]:
df

   year  month     mydate  month shift
0  2000      3 2000-03-01            0
1  2001      3 2001-03-01            1
2  2002      3 2002-03-01            2
3  2003      3 2003-03-01            3
4  2004      3 2004-03-01            4
5  2005      3 2005-03-01            5
6  2006      3 2006-03-01            6
7  2007      3 2007-03-01            7
8  2008      3 2008-03-01            8
9  2009      3 2009-03-01            9

In [5]:
# if I want to shift mydate by 3 months, I can convert it to DatetimeIndex and use dateOffset:
df['my date shifted by 3 months'] = pd.DatetimeIndex( df['mydate'] ) + pd.DateOffset(months = 3)
df

   year  month     mydate  month shift my date shifted by 3 months
0  2000      3 2000-03-01            0                  2000-06-01
1  2001      3 2001-03-01            1                  2001-06-01
2  2002      3 2002-03-01            2                  2002-06-01
3  2003      3 2003-03-01            3                  2003-06-01
4  2004      3 2004-03-01            4                  2004-06-01
5  2005      3 2005-03-01            5                  2005-06-01
6  2006      3 2006-03-01            6                  2006-06-01
7  2007      3 2007-03-01            7                  2007-06-01
8  2008      3 2008-03-01            8                  2008-06-01
9  2009      3 2009-03-01            9                  2009-06-01

In [6]:
df['my date shifted'] = pd.DatetimeIndex( df['mydate'] ) + pd.DateOffset(months = df['month shift'])
df

TypeError: cannot convert the series to <class 'int'>

In [ ]:
# if I want to shift mydate by 3 months, I can convert it to DatetimeIndex and use dateOffset:
df['my date shifted by 3 months'] = pd.DatetimeIndex( df['mydate'] ) + pd.DateOffset(months = 3)

# however, how do I shift mydate by the number of months in the column 'month shift'?
#This does NOT work:
df['my date shifted'] = pd.DatetimeIndex( df['mydate'] ) + pd.DateOffset(months = df['month shift'])
print(df)

In [ ]:
df = pd.DataFrame()
df['year'] = np.arange(2000,2010)
df['month'] = 3

df['mydate'] = pd.to_datetime(  (df.year * 10000 + df.month * 100 +1).apply(str), format='%Y%m%d')
df['month shift'] = np.arange(0,10)

# if I want to shift mydate by 3 months, I can convert it to DatetimeIndex and use dateOffset:
df['my date shifted by 3 months'] = pd.DatetimeIndex( df['mydate'] ) + pd.DateOffset(months = 3)

# however, how do I shift mydate by the number of months in the column 'month shift'?
#This does NOT work:
df['my date shifted'] = pd.DatetimeIndex( df['mydate'] ) + pd.DateOffset(months = df['month shift'])
print df