In [10]:
from ufunctions import *
from functools import reduce

In [2]:
dfQuote = GetQuote(ticker='SAVE', start='2018-01-01')

[*********************100%***********************]  1 of 1 downloaded

In [18]:
df = dfQuote.copy()
df['Adj Close'] = list(df["Adj Close"].pct_change())
df1 = RelativeStrengthIndex(dfQuote,14)
df2 = macdIndex(dfQuote,12,26,9)

# compile the list of dataframes you want to merge
list_df = [df,df1,df2]
df_final = pd.concat(list_df, axis=1)
df_final.dropna(inplace=True)

In [20]:
df_final.tail()

,Open,High,Low,Close,Adj Close,Volume,RSI14,SigMACD_12_26_9
Date,,,,,,,,
2021-05-17,34.42,35.75,34.24,35.67,0.020017,2704000,52.10,-0.568295
2021-05-18,35.84,36.55,35.43,35.71,0.001121,2908200,52.28,-0.543065
2021-05-19,34.89,36.01,34.68,35.61,-0.002800,3294300,51.74,-0.503548
2021-05-20,35.79,35.83,34.63,35.15,-0.012918,2839600,49.24,-0.463338
2021-05-21,35.47,35.67,34.68,34.70,-0.012802,2434400,46.86,-0.430925

In [ ]:
# def addColumns(df):

In [3]:
dfQuote.head()

             Open   High    Low  Close  Adj Close   Volume
Date
2018-01-02  44.70  45.61  44.09  45.60      45.60   899200
2018-01-03  45.54  45.54  43.47  44.14      44.14  1413800
2018-01-04  43.94  44.25  43.33  43.50      43.50  1823600
2018-01-05  43.75  43.89  43.45  43.63      43.63   680700
2018-01-08  43.75  43.75  42.89  43.23      43.23  1059900